.dashboard-container {
  margin-top: 60px;
  margin-left: 250px; 
  padding: 20px; 
  width: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  overflow: auto;
}

.form-box {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.form-box input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-box button {
  padding: 10px 20px;
  background-color: #5f6fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #4c56ff;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  font-weight: bold;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: orange;
  color: #ffffff;
}

.delete-button {
  background-color: red;
  color: #ffffff;
}
