/* App Container */
.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  margin-top: 60px;
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  background-color: #fff;
  color: #333;
  min-height: calc(100vh - 60px);
}
